@use '../abstracts/variables';

header {
    width: 100%;
    background: variables.$color-fondo-header;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: variables.$ancho-maximo;
    margin: auto;
  }
  
  .logo img {
    width: 80px;
  }
  