// Colores
$color-primario: #e60000;
$color-primario-hover: #cc0000;
$color-texto-claro: #fff;
$color-texto-gris: #bbb;
$color-fondo-header: #333;
$color-fondo-footer: #222;
$color-fondo-hero: #000;

// Tipografía
$fuente-principal: Arial, Helvetica, sans-serif;

// Otros
$ancho-maximo: 1200px;
